# Chapter 8: Functions in Python

## Defining
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### This is how you define a function in Python
- def keyword
- name of the function
- (parameters) --> parameters can also be empty
- body of the function

In [1]:
def my_function():
    print("Hello World")

my_function() #calling the function to get output

Hello World

In [3]:
def my_function2():
    print(8*2)
my_function2()

16

### Why we need function?

In [4]:
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

In [5]:
def address():
    print("2001 Newburg Road")
address()
address()
address()
address()
address()

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

### Function with parameters


### The `return` statement: 
* Use inside a function or method to send the function’s result back to the caller. 
* A return statement consists of the `return` keyword followed by an optional return value

* Three Ways to Return a Result to a Function’s Caller
    * **`return`** followed by an expression.
    * **`return`** without an expression implicitly returns **`None`**&mdash;represents the **absence of a value** and **evaluates to `False` in conditions**.
    * **No `return` statement implicitly returns `None`**.

In [6]:
def squared(number):
    return (number**2)
squared(3)

9

In [7]:
squared(12345)

152399025

In [8]:
def cubed(number):
    return(number**3)
cubed(5)

125

## Our own functions for practice
`Echo` that will act same as print

In [9]:
def echo(data): 
    return data
echo("Hello")

'Hello'

In [10]:
echo(5)

5

### Practice1 Favorite Book: Write a function called favorite_book() that accepts one parameter, title. 
The function should print a message, such as One of my
favorite books is Alice in Wonderland. Call the function, making sure to
include a book title as an argument in the function call.

In [11]:
def favorite_book(title): 
    print(title + " is one of my favorite books.")

In [12]:
favorite_book("The Last Olympian")

The Last Olympian is one of my favorite books.

In [15]:
def favorite_book(title): 
    message=title + " is one of my favorite books."
    return(message)
favorite_book("All the Young Dudes")

'All the Young Dudes is one of my favorite books.'

### Functions with Multiple Parameters
* `calc_MPG` function that determines the MPG from miles driven and gallons used

In [16]:
def calc_MPG(miles_driven, gallons_used):
    return(miles_driven/gallons_used)

In [17]:
calc_MPG(100,3)

33.333333333333336

In [18]:
calc_MPG(456,12)

38.0

## Default Parameter
With default parameters, you can specify a default value that will be used for the function. If you pass a parameter in for the default value, it uses that value instead. 
### def MPG(miles=200,gallon=12)

In [21]:
def MPG(miles_driven=200, gallons_used=12): 
    gallons_used=11
    return(miles_driven/gallons_used)

In [22]:
MPG()

18.181818181818183

In [23]:
MPG(miles_driven=400)

36.36363636363637

###  Function repeat using `for` loop

In [24]:
def repeat_echo(data, count): 
    for i in range(count): 
        print(data)

In [25]:
repeat_echo("2001 Newburg Road", 5)

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

## Practice: Define a function called `name` and print your name 20 times using the function

In [26]:
def name(data, count): 
    for i in range(count): 
        print(data)

In [27]:
name("Caitlin", 20)

Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin
Caitlin

### Write a function to find maximum of three values

In [1]:
max(23,56,78)

78

In [2]:
def maximum(a,b,c):
    if a>b and a>c: 
        largest=a
    elif (b>c): 
        largest=b
    else: 
        largest=c
    return largest

In [3]:
maximum(12,34,81)

81

In [4]:
maximum(81,45,6)

81

In [5]:
maximum(67,89,23)

89

### Practice Example: Define `minimum` function of three values

In [10]:
def minimum(a,b,c): 
    if a<b and a<c: 
        smallest=a
    elif (b<c): 
        smallest=b
    else: 
        smallest=c
    return smallest

In [11]:
minimum(12,45,67)

12

In [12]:
minimum(45,12,47)

12

In [13]:
minimum(78,67,56)

56

#  Arbitrary Argument Lists
*  **`*args`**, indicating that the function can receive any number of additional arguments. 
* The `*` before the parameter name tells Python to pack any remaining arguments into a tuple that’s passed to the `args` parameter.

In [14]:
def addition(*args): 
    return sum(args)

In [15]:
addition(10,23,45,67)

145

In [16]:
addition(34,67,23,12,55,89)

280

In [17]:
# mean of numbers 
def get_mean(*args):
    return sum(args)/len(args)

In [18]:
get_mean(56,57,58)

57.0

In [19]:
get_mean(45,67,89,23,12,66,44,34,90,87)

55.7

### Arbitary Argumented list with list

In [21]:
numbers=[34,56,78,99]
get_mean(*numbers)

66.75

### More about functions
In this session we looked at the concept of `scope`, working with `random numbers`, `statictics` and using various versions of import to work with different functions in module.

### Scope
* Each identifier has a `scope` that determines where you can use it in your program.

* A local variable’s identifier has **local scope**. 

* Identifiers defined outside any function (or class) have **global scope**—these may include functions, variables and classes.

One thing you don't want to do is create a variable and function with the same name. The variable will "hide" the function and prevent you from calling it. If you execute the cell below it will throw an error.

In [22]:
x=10 # global variable 

def scope_of_function(num):
    return num*2 # num is local variable

scope_of_function(20)

40

In [23]:
x

10

In [24]:
num

NameError: name 'num' is not defined

* By default, you cannot _modify_ a global variable in a function
* Python creates a **new local variable** when you first assign a value to a variable in a function’s block.
* In function `try_to_modify_global`’s block, the local `x` **shadows** the global `x`, making it inaccessible in the scope of the function’s block.

In [26]:
x=10
def try_to_modify_global():
    x=3.5
    print(x)
    
try_to_modify_global()

3.5

In [27]:
x

10

* To modify a global variable in a function’s block, you must use a **`global`** statement to declare that the variable is defined in the global scope: "modify_global"

In [28]:
x=10 
def modify_global():
    global x 
    x=3.5
    print(x)

modify_global()

3.5

In [29]:
x

3.5

## Write functions to find out Area and Perimeter of circle

In [30]:
from math import pi
pi

3.141592653589793

In [32]:
def area_circle(r):
    return pi*(r**2)

def peri_circle(r):
    return 2*pi*r

radius=int(input("Enter the value of radius: "))
print("The area of the circlie is ", round(area_circle(radius)))
print("The perimeter of the circle is ", round(peri_circle(radius)))

Enter the value of radius: 10
The area of the circlie is  314
The perimeter of the circle is  63

## Write functions to find out Area and Perimeter of rectangle

In [33]:
def area_rec(h,w): 
    return h*w

def peri_rec(h,w):
    return 2*(h+w)

height=int(input("Enter the height: "))
width=int(input("Enter the width: "))

print("The area of the rectanble is ", area_rec(height,width))
print("The perimeter of the rectanble is", peri_rec(height,width))

Enter the height: 5
Enter the width: 10
The area of the rectanble is  50
The perimeter of the rectanble is 30

## Random Number Generation
* Can introduce the element of chance via the Python Standard Library’s `random` module.

* `randrange` function generates an integer from the first argument value up to, but not including, the second argument value.
* Different values are displayed if you re-execute the loop.
* random.randrange where `random` is module and `randrange` is method

In [38]:
import random
x=random.randrange(10,20)
print(x)

18

In [41]:
# filling empty list with random numbers 
List=[]
for i in range(10): # looking for 10 entries
    x=random.randrange(1,20) # numbers from 1-19 included 
    List.append(x)
print(List)

[10, 15, 5, 4, 15, 13, 16, 7, 12, 12]

## Print 20 numbers in the range of 30 to 50

In [43]:
list2=[]
for i in range(20): 
    x=random.randrange(30,51)
    list2.append(x)
print(list2)

[42, 40, 46, 31, 44, 50, 34, 42, 38, 33, 34, 38, 39, 45, 50, 43, 39, 37, 33, 46]

### Guess the number between 1 to 10

In [44]:
import random 
number=random.randint(1,10) # 10 is included for randint
entered_number=None 
time=0

while entered_number!=number: 
    entered_number=int(input("Enter a number between 1 and 10: "))
    
    if entered_number==number: 
        print("You won", "You took", time, "chances")
    else: 
        print("Try again")
    time+=1

Enter a number between 1 and 10: 5
Try again
Enter a number between 1 and 10: 5
Try again
Enter a number between 1 and 10: 6
You won You took 2 chances