## Practice Questions Dictionary and List

### List reverse

In [1]:
Lista=[34,67,45,23,12,43]

Lista[::-1]

[43, 12, 23, 45, 67, 34]

### Convert the lists to dictionary
* keys = ['Ten', 'Twenty', 'Thirty']
* values = [10, 20, 30]

In [2]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
list(zip(keys, values)) #creates a list

[('Ten', 10), ('Twenty', 20), ('Thirty', 30)]

In [3]:
dict(zip(keys, values)) #creates a dictionary - answer

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [4]:
tuple(zip(keys, values)) #creates a tuple

(('Ten', 10), ('Twenty', 20), ('Thirty', 30))

### Marge the following two dictionaries and keep the original dictionaries as it is
* dict0 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
* dict1 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [8]:
dict0 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict1 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [9]:
dict2=dict0.copy()

In [10]:
dict2.update(dict1)

In [11]:
dict2

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### Access 70 from dictionary
 * Dict3 = { "class":{ "student":{ "subject":{ "physics":70,"history":80}}}}

In [12]:
Dict3 = { "class":{ "student":{ "subject":{ "physics":70,"history":80}}}}

In [13]:
Dict3["class"]["student"]["subject"]["physics"]

70

In [14]:
Dict3["class"]["student"]["subject"]["history"]

80

 Dict4 = {
  "name": "Mark",
  "age":21,
  "College": "Junior",
  "city": "Atlanta"}
 * Extract keys = ["name", "city"]
 * Expecte output: {'name': 'Mark', 'city': 'Atlanta'}

In [16]:
Dict4 = { "name": "Mark", "age":21, "College": "Junior", "city": "Atlanta"}
keys = ["name", "city"]
for K in keys: 
    print({K:Dict4[K]})

{'name': 'Mark'}
{'city': 'Atlanta'}

### Dict7 = {'a': 100, 'b': 200, 'c': 300}
 * Check if value 200 is present or not

In [17]:
Dict7 = {'a': 100, 'b': 200, 'c': 300}
print(200 in Dict7.values())

True

In [18]:
print(400 in Dict7.values())

False

### check the key 'c' is present in the dict or not

In [21]:
print('c' in Dict7.keys())

True

In [22]:
print('d' in Dict7.keys())

False

###  Update Bradâ€™s salary to 7500 
* sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 5500},
     'emp2': {'name': 'Emma', 'salary': 7000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

In [23]:
sampleDict = { 'emp1': {'name': 'Jhon', 'salary': 5500}, 
              'emp2': {'name': 'Emma', 'salary': 7000}, 
              'emp3': {'name': 'Brad', 'salary': 6500} }

In [25]:
sampleDict['emp3']['salary']=7500

In [26]:
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 5500}, 'emp2': {'name': 'Emma', 'salary': 7000}, 'emp3': {'name': 'Brad', 'salary': 7500}}

### Find who is younger
Dict9 = {
  'Sam': 82,
  'Harry': 65,
  'Jack': 75
}

In [27]:
Dict9 = { 'Sam': 82, 'Harry': 65, 'Jack': 75 }

In [31]:
temp=min(Dict9.values())
temp

65

In [32]:
for key in Dict9.keys(): 
    if Dict9[key]==temp: 
        print(key)

Harry

In [33]:
temp2=max(Dict9.values())
print(temp2)

82

In [34]:
for key in Dict9.keys():
    if Dict9[key]==temp2: 
        print(key)

Sam

### Update **city to location**
 Dict10 = {
  "name": "Mark",
  "age":21,
  "College": "Junior",
  "city": "Atlanta"}

In [38]:
Dict10 = { "name": "Mark", "age":21, "College": "Junior", "city": "Atlanta"}

In [39]:
Dict10["location"]=Dict10.pop("city")
print(Dict10)

{'name': 'Mark', 'age': 21, 'College': 'Junior', 'location': 'Atlanta'}